  services:
    # API Service
    api:
      build:
        context: .
        dockerfile: Dockerfile-api
      container_name: file-api
      depends_on:
        postgres:
          condition: service_healthy
        minio:
          condition: service_healthy
        nats:
          condition: service_healthy
        nats-stream-setup:
          condition: service_completed_successfully
      env_file: .env
      networks:
        - app-network
      ports:
        - "8080:8080"
      healthcheck:
        test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8080/health" ]
        interval: 10s
        retries: 5
        timeout: 5s

    video-processing:
        build:
          context: .
          dockerfile: Dockerfile-worker
        container_name: video-processing-worker
        depends_on:
          postgres:
            condition: service_healthy
          minio:
            condition: service_healthy
          nats:
            condition: service_healthy
          nats-stream-setup:
            condition: service_completed_successfully
          api:
            condition: service_healthy
        env_file: .env
        networks:
          - app-network

    # NATS with JetStream
    nats:
      image: nats:2.10-alpine
      container_name: nats-js
      command: [ "-js", "-m", "8222" ]
      networks:
        - app-network
      ports:
        - "4222:4222"
        - "8222:8222"  # Monitoring port
      healthcheck:
        test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8222/healthz" ]
        interval: 5s
        retries: 5
        timeout: 3s

    nats-stream-setup:
      image: natsio/nats-box:latest
      container_name: nats-stream-setup
      depends_on:
        nats:
          condition: service_healthy
      networks:
        - app-network
      command: >
        sh -c "sleep 2 && nats --server=nats:4222 stream add upload-stream --subjects='upload.events' --storage=file --retention=limits --max-msgs=-1 --max-age=24h --max-bytes=-1 --discard=old --replicas=1 --defaults && echo 'Stream created!'"

    # MinIO Service
    minio:
      image: minio/minio:latest
      container_name: minio-blob
      command: server /data --console-address ":9001"
      environment:
        MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
        MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
        MINIO_NOTIFY_NATS_ENABLE_primary: "on"
        MINIO_NOTIFY_NATS_ADDRESS_primary: "nats:4222"
        MINIO_NOTIFY_NATS_SUBJECT_primary: ${NATS_SUBJECT}
        MINIO_NOTIFY_NATS_JETSTREAM_primary: "on"
      networks:
        - app-network
      ports:
        - "9000:9000"
        - "9001:9001"
      volumes:
        - minio_data:/data
      healthcheck:
        test: ["CMD", "mc", "alias", "set", "healthcheck", "http://localhost:9000", "${MINIO_ACCESS_KEY}", "${MINIO_SECRET_KEY}"]
        interval: 5s
        retries: 5
        timeout: 5s

    # MinIO bucket & event setup
    minio-config:
      image: minio/mc:latest
      container_name: minio-config
      depends_on:
        minio:
          condition: service_healthy
        nats:
          condition: service_healthy
        nats-stream-setup:
          condition: service_completed_successfully
      networks:
        - app-network
      env_file: .env
      entrypoint: >
        /bin/sh -c "
        echo 'Waiting for MinIO...';
        until (/usr/bin/mc alias set myminio http://minio:9000 ${MINIO_ACCESS_KEY} ${MINIO_SECRET_KEY}) do
          echo 'MinIO not ready, retrying...' && sleep 2;
        done;
        echo 'Creating bucket...';
        mc mb --ignore-existing myminio/${MINIO_BUCKET_NAME};
        echo 'Configuring CORS...';
        echo '{
          \"CORSRules\": [
            {
              \"AllowedOrigins\": [\"http://localhost:*\", \"http://127.0.0.1:*\"],
              \"AllowedMethods\": [\"GET\", \"PUT\", \"POST\", \"DELETE\", \"HEAD\"],
              \"AllowedHeaders\": [\"*\"],
              \"ExposeHeaders\": [\"ETag\"]
            }
          ]
        }' > /tmp/cors.json;
        mc cors set /tmp/cors.json myminio/${MINIO_BUCKET_NAME};
        echo 'Configuring NATS event notification...';
        mc event add myminio/${MINIO_BUCKET_NAME} arn:minio:sqs::primary:nats --event put,delete || echo 'Event already configured';
        echo 'MinIO bucket, CORS and NATS notifications configured!';
        "

    # PostgreSQL Service
    postgres:
      image: postgres:15-alpine
      container_name: db-api
      environment:
        POSTGRES_USER: ${DB_USER}
        POSTGRES_PASSWORD: ${DB_PASSWORD}
        POSTGRES_DB: ${DB_NAME}
      networks:
        - app-network
      ports:
        - "${DB_HOST_PORT}:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
        interval: 5s
        retries: 5
        timeout: 5s

  # Volumes
  volumes:
    postgres_data:
    minio_data:

  # Networks
  networks:
    app-network:
      driver: bridge